﻿@model IEnumerable<Models.Framework.THANHTOANLUONGNHANVIEN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="main-form" id="main-form">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lịch sử thanh toán lương</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div id="dataTable_filter" class="dataTables_filter">
                                <label>Tìm kiếm:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable" id="tim-kiem-edit" value="@ViewBag.Query"></label>
                                <button onclick="TimKiem()">Xem</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;color:black">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: auto;">Mã nhân viên</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: auto;">Họ tên</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: auto;">Ngày thanh toán</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: auto;">Thời gian làm</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: auto;">Tổng lương</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: auto;">Khoảng khác</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: auto;">Ghi chú</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: auto;">Tổng cộng</th>

                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr role="row" class="odd">
                                            <td class="sorting_1">@item.MANHANVIEN</td>
                                            <td>@item.NHANVIEN.ACCOUNT.HOTEN</td>
                                            <td>@item.NGAYTHANHTOAN</td>
                                            <td>@item.TONGTHOIGIANLAM @item.NHANVIEN.DONVITINHLUONG.TENDONVITINHLUONG</td>
                                            <td>@item.TONGLUONG</td>
                                            <td>@item.KHOANGKHAC</td>
                                            <td>@item.GHICHU</td>
                                            <td>@(item.TONGLUONG+item.KHOANGKHAC)</td>
                                            <td>
                                                <a onclick="openForm('@item.MANHANVIEN','@item.NGAYTHANHTOAN.ToString("yyyy/MM/dd")',@item.KHOANGKHAC,'@item.GHICHU')" style="color:blue;float: left;" href="#">Sửa</a>
                                            <td>
                                        </tr>
                                    }
                                </tbody>
                                <!--THEM-->
                                <tfoot>
                                    <tr>
                                        <th rowspan="1" colspan="1"> </th>
                                        <th rowspan="1" colspan="1"> </th>
                                        <th rowspan="1" colspan="1"> </th>
                                        <th rowspan="1" colspan="1"> </th>
                                        <th rowspan="1" colspan="1"> </th>
                                        <th rowspan="1" colspan="1"> </th>
                                        <th rowspan="1" colspan="1"> </th>
                                        <th rowspan="1" colspan="1"> </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite"></div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous " id="dataTable_previous"><a href="@Url.Action("Index","ThanhToanLuongNhanVien",new {id=1,q=ViewBag.Query})" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Đầu</a></li>

                                    @if (ViewBag.CurrentPage - 2 == 1)
                                    {
                                        <li class="paginate_button page-item previous " id="dataTable_previous"><a href="@Url.Action("Index","ThanhToanLuongNhanVien",new {id=1,q=ViewBag.Query})" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">1</a></li>

                                    }
                                    else if (ViewBag.CurrentPage - 2 > 1)
                                    {
                                        <li><a style="color:black">...</a></li>
                                        <li class="paginate_button page-item previous " id="dataTable_previous"><a href="@Url.Action("Index","ThanhToanLuongNhanVien",new {id=ViewBag.CurrentPage - 2,q=ViewBag.Query})" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">@(ViewBag.CurrentPage - 2)</a></li>

                                    }
                                    @if (ViewBag.CurrentPage - 1 >= 1)
                                    {
                                        <li class="paginate_button page-item previous " id="dataTable_previous">
                                            <a href="@Url.Action("Index","ThanhToanLuongNhanVien",new {id=ViewBag.CurrentPage - 1,q=ViewBag.Query})" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">
                                                @(ViewBag.CurrentPage - 1)
                                            </a>
                                        </li>

                                    }
                                    <li class="paginate_button page-item previous active" id="dataTable_previous">
                                        <a href="@Url.Action("Index","ThanhToanLuongNhanVien",new {id=ViewBag.CurrentPage,q=ViewBag.Query})" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">
                                            @(ViewBag.CurrentPage)
                                        </a>
                                    </li>

                                    @if (ViewBag.CurrentPage + 1 <= ViewBag.SoLuongPage)
                                    {
                                        <li class="paginate_button page-item previous " id="dataTable_previous">
                                            <a href="@Url.Action("Index","ThanhToanLuongNhanVien",new {id=ViewBag.CurrentPage + 1,q=ViewBag.Query})" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">
                                                @(ViewBag.CurrentPage + 1)
                                            </a>
                                        </li>
                                    }
                                    @if (ViewBag.CurrentPage + 2 == ViewBag.SoLuongPage)
                                    {
                                        <li class="paginate_button page-item previous " id="dataTable_previous">
                                            <a href="@Url.Action("Index","ThanhToanLuongNhanVien",new {id=ViewBag.SoLuongPage,q=ViewBag.Query})" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">
                                                @ViewBag.SoLuongPage
                                            </a>
                                        </li>
                                    }
                                    else if (ViewBag.CurrentPage + 2 < ViewBag.SoLuongPage)
                                    {
                                        <li class="paginate_button page-item previous " id="dataTable_previous">
                                            <a href="@Url.Action("Index","ThanhToanLuongNhanVien",new {id=ViewBag.CurrentPage + 2,q=ViewBag.Query})" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">
                                                @(ViewBag.CurrentPage + 2)
                                            </a>
                                        </li>
                                        <li><a style="color:black">...</a></li>

                                    }
                                    <li class="paginate_button page-item previous " id="dataTable_previous">
                                        <a href="@Url.Action("Index","ThanhToanLuongNhanVien",new {id=(ViewBag.SoLuongPage),q=ViewBag.Query})" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">
                                            Cuối(@(ViewBag.SoLuongPage))
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--FORM THEM-->
<div class="form-popup" id="edit-form" style="color:black">
    <form class="form-container">
        <h1 style="text-align:center">Chi tiết thanh toán lương</h1>
        <input id="ma-nhan-vien-edit" type="text" placeholder="" value="" hidden>
        <input id="ngay-thanh-toan-edit" type="text" placeholder="" value="" hidden>
        <div style="margin-top:10px;margin-bottom:10px">
            <label for="psw"><b>Khoảng khác</b></label>
            <input id="khoang-khac-edit" type="number" placeholder="Nhập khoảng tiền khác" value="" style="width:48%"> VNĐ
        </div>

        <div>
            <label for="psw"><b>Ghi chú</b></label>
            <input id="ghi-chu-edit" type="text" placeholder="Nhập ghi chú" value="">
        </div>


        <h6> </h6>
        <button type="button" class="btn" onclick="editTTLuong()" id="btn-them">Sửa</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Thoát</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
    function openForm(maNV, ngayThanhToan, khoangKhac, ghiChu) {
        document.getElementById("main-form").style.display = "none";
        document.getElementById("edit-form").style.display = "block";
        document.getElementById("main-form").className = "main-form-hide";
        $('#khoang-khac-edit').val(khoangKhac).change();
        $('#ghi-chu-edit').val(ghiChu).change();
        $('#ma-nhan-vien-edit').val(maNV).change();
        $('#ngay-thanh-toan-edit').val(ngayThanhToan).change();
    }
    function closeForm() {
        document.getElementById("edit-form").style.display = "none";
        document.getElementById("main-form").className = "main-form";
        document.getElementById("main-form").style.display = "block";
    }

    function editTTLuong() {
        const url = '../../../api/ThanhToanLuongNhanVienApi?';
        // The data we are going to send in our request
        let params = {
            //maNCC: $('#ma-ncc-edit').val(),
            maNhanVien: $('#ma-nhan-vien-edit').val(),
            ngayThanhToan: $("#ngay-thanh-toan-edit").val(),
            khoangKhac: $('#khoang-khac-edit').val(),
            ghiChu: $('#ghi-chu-edit').val(),
        }

        let query = Object.keys(params)
            .map(k => encodeURIComponent(k) + '=' + encodeURIComponent(params[k]))
            .join('&');
        // The parameters we are gonna pass to the fetch function
        let fetchData = {
            method: 'PUT',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
        }

        fetch(url + query, fetchData)
            .then(function (res) {
                // Handle response you get from the server
                return res.json();
            }).then(function (data) {
                alert(data);
                location.reload();
            });
    }

</script>

<!--TimKiem-->
<script>
    function TimKiem() {
        var value = $('#tim-kiem-edit').val();
        location.href = "./1?q=" + value;
    }
</script>

<style>
    /* Button used to open the contact form - fixed at the bottom of the page */
    .main-form-hide {
        opacity: 0.5;
        position: fixed;
    }

    .main-form {
        opacity: 1;
    }

    .open-button {
        background-color: #555;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        right: 28px;
        width: 280px;
    }

    /* The popup form - hidden by default */
    .form-popup {
        display: none;
        position: absolute;
        top: calc(20% - 25px);
        left: calc(50% - 50px);
        border: 3px solid #f1f1f1;
        z-index: 999;
    }

    /* Add styles to the form container */
    .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: white;
    }

        /* Full-width input fields */
        .form-container input[type=text], .form-container input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            border: none;
            background: #f1f1f1;
        }

            /* When the inputs get focus, do something */
            .form-container input[type=text]:focus, .form-container input[type=password]:focus {
                background-color: #ddd;
                outline: none;
            }

        /* Set a style for the submit/login button */
        .form-container .btn {
            background-color: #4CAF50;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            margin-bottom: 10px;
            opacity: 0.8;
        }

        /* Add a red background color to the cancel button */
        .form-container .cancel {
            background-color: red;
        }

        /* Add some hover effects to buttons */
        .form-container .btn:hover, .open-button:hover {
            opacity: 1;
        }
</style>
