﻿@model List<Models.Framework.CT_GIOHANG>
@{
    ViewBag.Title = "Index";
    if (ViewBag.IsKhachHangDaDangNhap)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutChuaLogin.cshtml";
    }
}


<div style="width:100%; text-align:center">
    <div class="hero-wrap hero-bread" style="background-image: url(/Assets/khachhang/image/shopping-cart.jpg); width:100%;height:40px;text-align:center;display: inline-block"></div>
</div>
<div id="khung-gio-hang" style="width:100%; text-align:center;color:black;">
    <div id="gio-hang" style="width:100%; align-self:center;display: inline-block;border:double;padding:3% 7% 3% 7%;">
        <h2 class="mb-0 bread" style="color:green;">Giỏ hàng</h2>
        <hr />
        <div class="shopping-cart">

            <div class="column-labels">
                <label class="product-image">Hình ảnh</label>
                <label class="product-details">Tên sản phẩm</label>
                <label class="product-price">Giá</label>
                <label class="product-quantity">Số lượng</label>
                <label class="product-removal">Xóa</label>
                <label class="product-line-price">Tổng cộng</label>
            </div>

            @foreach (var item in Model)
            {
                if (item.MATHANG.MALOAIMATHANG == "LH004" || item.MATHANG.MALOAIMATHANG == "LH003")
                {
                    <div class="product">
                        <div class="product-image">
                            <img src="@(item.MATHANG.MALOAIMATHANG=="LH004"?item.MATHANG.MONAN.HINHANH:item.MATHANG.NUOCGIAIKHAT.HINHANH)">
                        </div>
                        <div class="product-details" style="height:70px;vertical-align:middle;">
                            <div class="product-title" style="font-size:larger; "><b>@item.MATHANG.TENMATHANG</b></div>
                            <p class="product-description">
                                Trạng thái: @(item.MATHANG.MALOAIMATHANG == "LH004" ? (item.MATHANG.MONAN.MENUMONAN.TRANGTHAI.Value==true?"Vẫn còn":"Đã hết")
                                                                                       : item.MATHANG.NUOCGIAIKHAT.SOLUONGCON.Value>0? item.MATHANG.NUOCGIAIKHAT.SOLUONGCON.Value+"" : "Đã hết")
                            </p> <!--Mo ta-->
                        </div>
                        <div class="product-price">@(item.MATHANG.MALOAIMATHANG == "LH004" ?item.MATHANG.MONAN.GIABAN:item.MATHANG.NUOCGIAIKHAT.GIABAN)</div>
                        <div class="product-quantity">
                            <input type="number" onchange="CapNhatSoLuong('@item.MAMATHANG',this)" value="@item.SOLUONG" min="1">
                        </div>
                        <div class="product-removal">
                            <button class="remove-product" onclick="XoaMatHangKhoiGioHang('@item.MAMATHANG')">
                                Xóa
                            </button>
                        </div>
                        <div class="product-line-price" style="padding:5px">@(item.MATHANG.MALOAIMATHANG == "LH004" ? item.MATHANG.MONAN.GIABAN* item.SOLUONG : item.MATHANG.NUOCGIAIKHAT.GIABAN* item.SOLUONG )</div>
                    </div>
                }
            }


            <div class="totals">
                <div class="totals-item">

                    <label style="color:black"><b>Tổng cộng</b></label>
                    @{
                        int S = 0;
                        foreach (var item in Model)
                        {
                            if (item.MATHANG.MALOAIMATHANG == "LH004")
                            {
                                S += item.MATHANG.MONAN.GIABAN.Value * item.SOLUONG.Value;
                            }
                            else
                            {
                                S += item.MATHANG.NUOCGIAIKHAT.GIABAN.Value * item.SOLUONG.Value;
                            }
                        }
                        <div class="totals-value" id="cart-subtotal">
                            <b id="tong-cong-edit">@S</b>
                        </div>
                    }

                </div>
                <div class="totals-item" hidden>
                    <label>Phí ship</label>
                    <div class="totals-value" id="cart-shipping">0</div>
                </div>
                <div class="totals-item totals-item-total" hidden>
                    <label>Tổng cộng</label>
                    <div class="totals-value" id="cart-total">90.57</div>
                </div>
            </div>

            <button class="checkout" onclick="XacNhanDatHang()">Đặt hàng</button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    function XacNhanDatHang() {
        var tienToiThieu=(@(new Models.ThamSoModel().GetThamSoByTen("SoTienDonDatHangToiThieu")));
        if (parseInt($('#tong-cong-edit').text())<tienToiThieu) {
            alert("Chúng tôi chỉ tiếp nhận những đơn đặt hàng có giá trị từ "+tienToiThieu+" VNĐ và trong khu vực Làng Đại học! Vui lòng chọn thêm món!");
            return;
        }
        location.href="@Url.Action("Index", "XacNhanDatHang")";
    }
    function CapNhatSoLuong(MaMatHang, InputSoLuong) {
        var SoLuong = $(InputSoLuong).val();
        //alert("MH: "+MaMatHang+"; SL: "+tmp);
        if ('@ViewBag.IsKhachHangDaDangNhap' != 'True') {
            location.href = '@Url.Action("Index","DangNhap")';
            return;
        }
        const url = '../api/GioHangApi?';
        // The data we are going to send in our request
        let params = {
            //maNCC: $('#ma-ncc-edit').val(),
            maMatHang: MaMatHang,
            soLuong: SoLuong,
        }

        let query = Object.keys(params)
                 .map(k => encodeURIComponent(k) + '=' + encodeURIComponent(params[k]))
                 .join('&');
        // The parameters we are gonna pass to the fetch function
        let fetchData = {
            method: 'PUT',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
        }

        fetch(url + query, fetchData)
        .then(function (res) {
            // Handle response you get from the server
            return res.json();
        }).then(function (data) {
            //alert(data);
            location.reload();
        });
    }

    function XoaMatHangKhoiGioHang(maMH){
        //alert("MH: "+MaMatHang+"; SL: "+tmp);
        if ('@ViewBag.IsKhachHangDaDangNhap' != 'True') {
            location.href = '@Url.Action("Index","DangNhap")';
            return;
        }
        const url = '../api/GioHangApi?';
        // The data we are going to send in our request
        let params = {
            //maNCC: $('#ma-ncc-edit').val(),
            maMatHang: maMH,
        }

        let query = Object.keys(params)
                 .map(k => encodeURIComponent(k) + '=' + encodeURIComponent(params[k]))
                 .join('&');
        // The parameters we are gonna pass to the fetch function
        let fetchData = {
            method: 'DELETE',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
        }

        fetch(url + query, fetchData)
        .then(function (res) {
            // Handle response you get from the server
            return res.json();
        }).then(function (data) {
            //alert(data);
            location.reload();
        });
    }
    $(document).ready(function () {
        var s1 =parseInt($('#cart-subtotal').text());
        var s2 = parseInt($('#cart-shipping').text());
        $('#cart-total').text(s1 + s2).change();
    });

</script>




<style>
    .product-image {
        float: left;
        width: 20%;
    }

    .product-details {
        float: left;
        width: 37%;
    }

    .product-price {
        float: left;
        width: 12%;
    }

    .product-quantity {
        float: left;
        width: 10%;
    }

    .product-removal {
        float: left;
        width: 9%;
    }

    .product-line-price {
        float: left;
        width: 12%;
        text-align: right;
    }

    /* This is used as the traditional .clearfix class */
    .group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before,
    .group:after,
    .shopping-cart:after,
    .column-labels:after,
    .product:after,
    .totals-item:after {
        content: '';
        display: table;
    }

    .group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
        clear: both;
    }

    .group, .shopping-cart, .column-labels, .product, .totals-item {
        zoom: 1;
    }

        /* Apply clearfix in a few places */
        /* Apply dollar signs */
        .product .product-price:after, .product .product-line-price:after, .totals-value:after {
            content: ' VNĐ';
        }

    /* Body/Header stuff */
    body {
        padding: 0px 30px 30px 20px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 100;
    }

    h1 {
        font-weight: 100;
    }

    label {
        color: #aaa;
    }

    .shopping-cart {
        margin-top: -45px;
    }

    /* Column headers */
    .column-labels label {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #eee;
    }

    .column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
        text-indent: -9999px;
    }

    /* Product entries */
    .product {
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
    }

        .product .product-image {
            text-align: center;
        }

            .product .product-image img {
                width: 100px;
            }

        .product .product-details .product-title {
            margin-right: 20px;
            font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
        }

        .product .product-details .product-description {
            margin: 5px 20px 5px 0;
            line-height: 1.4em;
        }

        .product .product-quantity input {
            width: 40px;
        }

        .product .remove-product {
            border: 0;
            padding: 4px 8px;
            background-color: #c66;
            color: #fff;
            font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
            font-size: 12px;
            border-radius: 3px;
        }

            .product .remove-product:hover {
                background-color: #a44;
            }

    /* Totals section */
    .totals .totals-item {
        float: right;
        clear: both;
        width: 100%;
        margin-bottom: 10px;
    }

        .totals .totals-item label {
            float: left;
            clear: both;
            width: 79%;
            text-align: right;
        }

        .totals .totals-item .totals-value {
            float: right;
            width: 21%;
            text-align: right;
        }

    .totals .totals-item-total {
        font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
    }

    .checkout {
        float: right;
        border: 0;
        margin-top: 20px;
        padding: 6px 25px;
        background-color: #6b6;
        color: #fff;
        font-size: 25px;
        border-radius: 3px;
    }

        .checkout:hover {
            background-color: #494;
        }
</style>
<style>
    @@media screen and (max-width: 650px) {
        .shopping-cart {
            margin: 0;
            padding-top: 20px;
            border-top: 1px solid #eee;
        }

        .column-labels {
            display: none;
        }

        .product-image {
            float: right;
            width: auto;
        }

            .product-image img {
                margin: 0 0 10px 10px;
            }

        .product-details {
            float: none;
            margin-bottom: 10px;
            width: auto;
        }

        .product-price {
            clear: both;
            width: 70px;
        }

        .product-quantity {
            width: 100px;
        }

            .product-quantity input {
                margin-left: 20px;
            }

            .product-quantity:before {
                content: 'x';
            }

        .product-removal {
            width: auto;
        }

        .product-line-price {
            float: right;
            width: 70px;
        }
    }
    /* Make more adjustments for phone */
    @@media screen and (max-width: 350px) {
        .product-removal {
            float: right;
        }

        .product-line-price {
            float: right;
            clear: left;
            width: auto;
            margin-top: 10px;
        }

        .product .product-line-price:before {
            content: 'Item Total: $';
        }

        .totals .totals-item label {
            width: 60%;
        }

        .totals .totals-item .totals-value {
            width: 40%;
        }
    }
</style>
<script>
    var taxRate = 0.05;
    var shippingRate = 15.00;
    var fadeTime = 300;


    /* Assign actions */
    $('.product-quantity input').change(function () {
        updateQuantity(this);
    });

    $('.product-removal button').click(function () {
        removeItem(this);
    });


    /* Recalculate cart */
    function recalculateCart() {
        var subtotal = 0;

        /* Sum up row totals */
        $('.product').each(function () {
            subtotal += parseFloat($(this).children('.product-line-price').text());
        });

        /* Calculate totals */
        var tax = subtotal * taxRate;
        var shipping = (subtotal > 0 ? shippingRate : 0);
        var total = subtotal + tax + shipping;

        /* Update totals display */
        $('.totals-value').fadeOut(fadeTime, function () {
            $('#cart-subtotal').html(subtotal.toFixed(2));
            $('#cart-tax').html(tax.toFixed(2));
            $('#cart-shipping').html(shipping.toFixed(2));
            $('#cart-total').html(total.toFixed(2));
            if (total == 0) {
                $('.checkout').fadeOut(fadeTime);
            } else {
                $('.checkout').fadeIn(fadeTime);
            }
            $('.totals-value').fadeIn(fadeTime);
        });
    }
</script>

