﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ADMIN</title>

    <!-- Custom fonts for this template-->
    <link href="~/Assets/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Assets/admin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper" style="position:sticky !important">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">

                </div>
                <div class="sidebar-brand-text mx-3"><i class="fab fa-accusoft"></i>Admin </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - home -->
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index", "QuanLy")">
                    <i class="fas fa-home"></i>
                    <span>Trang chủ</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->

            <div class="sidebar-heading">
                QUẢN LÝ
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Index", "DonDatHang", new { id = 1, ngay = DateTime.Now.Day, thang = DateTime.Now.Month, nam = DateTime.Now.Year, q = "" })" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Quản lý đơn đặt hàng</span>
                </a>
            </li>
            <!-- Nav Item - Quản lý nhân viên -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Quản lý nhân viên</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("Index", "NhanVien",new { id=1})">Danh sách nhân viên</a>
                        <a class="collapse-item" href="@Url.Action("Index", "ChamCongNhanVien")">Chấm công nhân viên</a>
                        <a class="collapse-item" href="@Url.Action("Index", "TinhLuongNhanVien")">Tính lương nhân viên</a>
                        <a class="collapse-item" href="@Url.Action("Index", "ThanhToanLuongNhanVien",new {id=1,q="" })">Lịch sử thanh toán lương</a>
                    </div>
                </div>
            </li>
            <div class="sidebar-heading">
                MENU
            </div>
            <!-- Nav Item - quản lý Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Quản lý menu</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">CUSTOM MENU</h6>
                        <a class="collapse-item" href="@Url.Action("Index", "MenuMonAn")">Món ăn</a>
                        <a class="collapse-item" href="@Url.Action("Index", "MenuNuocGiaiKhat")">Nước giải khát</a>

                    </div>
                </div>
            </li>



            <!-- Heading -->
            <div class="sidebar-heading">
                NHẬP XUẤT HÀNG
            </div>

            <!-- Nav Item - Quản lý hàng hóa -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePageshanghoa" aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Quản lý hàng hóa</span>
                </a>
                <div id="collapsePageshanghoa" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">

                        <a class="collapse-item" href="@Url.Action("Index", "NguyenLieu", new { id = 1, q = "" })">Nguyên liệu</a>
                        <a class="collapse-item" href="@Url.Action("Index", "DungCu", new { id = 1, q = "" })">Dụng cụ</a>
                        <a class="collapse-item" href="@Url.Action("Index", "NuocGiaiKhat", new { id = 1, q = "" })">Nước giải khát</a>

                        <a class="collapse-item" href="@Url.Action("Index", "MonAn", new { id = 1, q = "" })">Món ăn</a>

                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Index", "NhaCungCap", new {id=1})" aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Quản lý nhà cung cấp</span>
                </a>


            </li>

            <!-- Nav Item -Quản lý đơn vị, tham số -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesdonvithamso" aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Quản lý đơn vị, tham số</span>
                </a>
                <div id="collapsePagesdonvithamso" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">

                        <a class="collapse-item" href="@Url.Action("Index","DonViTinh")">Đơn vị tính</a>
                        <a class="collapse-item" href="@Url.Action("Index","DonViTinhLuong")">Đơn vị tính lương</a>
                        <a class="collapse-item" href="@Url.Action("Index","ThamSo")">Tham số</a>

                    </div>
                </div>
            </li>
            <!-- Nav Item -Quản lý nhập xuất -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Quản lý nhập xuất</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">

                        <a class="collapse-item" href="@Url.Action("Index2","NhapMatHang",new{ngayNhap=DateTime.Now.Day,thangNhap=DateTime.Now.Month,namNhap= DateTime.Now.Year, maLoaiMatHang="LH001" }))">Nhập nguyên liệu</a>
                        <a class="collapse-item" href="@Url.Action("Index2","NhapMatHang",new{ngayNhap=DateTime.Now.Day,thangNhap=DateTime.Now.Month,namNhap= DateTime.Now.Year, maLoaiMatHang="LH002" })">Nhập dụng cụ</a>
                        <a class="collapse-item" href="@Url.Action("Index2","NhapMatHang",new{ngayNhap=DateTime.Now.Day,thangNhap=DateTime.Now.Month,namNhap= DateTime.Now.Year, maLoaiMatHang="LH003" })">Nhập nước giải khát</a>

                    </div>
                </div>
            </li>

            <!-- Nav Item -Quản lý khách hàng -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Index","QuanLyKhachHang",new { id=1})" aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Quản lý khách hàng</span>
                </a>

            </li>
            <!-- Heading -->
            <div class="sidebar-heading">
                BÁO CÁO THỐNG KÊ
            </div>
            <!-- Nav Item -báo cáo thống kê -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesbaocao" aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Báo cáo thống kê</span>
                </a>
                <div id="collapsePagesbaocao" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("Index", "BaoCaoHangNgay",new {ngay= DateTime.Now.Day,thang=DateTime.Now.Month,nam= DateTime.Now.Year})">Báo cáo mỗi ngày</a>
                        <a class="collapse-item" href="@Url.Action("Index", "BaoCaoThuChi",new { thang=DateTime.Now.Month,nam= DateTime.Now.Year})">Báo cáo thu chi tháng</a>
                        <a class="collapse-item" href="@Url.Action("Index", "BaoCaoBanHang",new { thang=DateTime.Now.Month,nam= DateTime.Now.Year})">Tình hình bán hàng tháng</a>

                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content1">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <h3 style="color:darkgreen; width:100%;text-align:center;">
                        <img src="~/Assets/admin/img/icon-food.jpg" style="width:50px;height:50px;" />
                        <b>QUÁN CƠM BẦU BÍ</b>

                    </h3>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">

                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <h6 style="color:black !important">ADMIN</h6>
                                <i class="fab fa-accusoft"></i>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">


                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Logout", "Login");" data-toggle="modal" onclick="DangXuat()">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đăng xuất
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2019</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        function DangXuat() {
            location.href = "@Url.Action("Logout", "Login")";
        }
    </script>
    <!-- Bootstrap core JavaScript-->
    <script src="~/Assets/admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Assets/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Assets/admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Assets/admin/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Assets/admin/js/demo/chart-area-demo.js"></script>
    <script src="~/Assets/admin/js/demo/chart-pie-demo.js"></script>
    <style>
        .bg-gradient-primary {
            background-image: linear-gradient(180deg,#008000 10%,#008000 100%) !important;
        }

        .btn-primary {
            background-color: #008000 !important;
            border-color: #008000 !important;
        }
    </style>
</body>

</html>
