﻿@model Models.Framework.KHACHHANG

@{
    ViewBag.Title = "Index";
    if (ViewBag.IsKhachHangDaDangNhap)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutChuaLogin.cshtml";
    }

}
<div style="width:90%; text-align:center;margin-left:5%">
    <div class="hero-wrap hero-bread" style="background-image: url(/Assets/khachhang/image/anh-nen-info.png); width:100%;height:40px;text-align:center;display: inline-block"></div>
</div>
<div style="width:90%;margin-left:5%; color:black">
    <h2 style="margin-left:3%;color:green;text-align:center">Đổi mật khẩu</h2>
    <hr />
    <p>
        <a>Tài khoản: @ViewBag.TenDangNhap</a>
    </p>
    <p>
        <a style="margin-right:30px">Nhập mật khẩu cũ: </a>
        <input type="password" onblur="CheckMK(this)" id="mk-cu" />
        <a style="color:red" id="alert-mk-cu" hidden>Mật khẩu phải có tối thiểu 6 ký tự!</a>
    </p>
    <p>
        <a style="margin-right:20px">Nhập mật khẩu mới: </a>
        <input type="password" onblur="CheckMK(this)" id="mk-moi" />
        <a style="color:red" id="alert-mk-moi" hidden>Mật khẩu phải có tối thiểu 6 ký tự!</a>
    </p>
    <p>
        <a>Nhập lại mật khẩu mới: </a>
        <input type="password" onblur="CheckMK(this)" id="re-mk-moi" />
        <a style="color:red" id="alert-re-mk-moi" hidden>Mật khẩu phải có tối thiểu 6 ký tự!</a>
        <a style="color:red" id="alert-re-mk-khong-khop" hidden>Mật khẩu nhập lại không khớp!</a>
    </p>
    <button style="color:white;background-color:darkseagreen;border-color:darkseagreen;" onclick="SaveChange()">Lưu</button>
    <hr />
    <hr />
</div>
<script>

    function CheckMK(input) {
        if ($(input).val().length < 6) {
            if (input.id == 'mk-cu') {
                document.getElementById("alert-mk-cu").hidden = false;
            }
            else if (input.id == 'mk-moi') {
                document.getElementById("alert-mk-moi").hidden = false;
            }
            else if (input.id == 're-mk-moi') {
                document.getElementById("alert-re-mk-moi").hidden = false;
            }
        } else {
            if (input.id == 'mk-cu') {
                document.getElementById("alert-mk-cu").hidden = true;
            }
            else if (input.id == 'mk-moi') {
                document.getElementById("alert-mk-moi").hidden = true;
            }
            else if (input.id == 're-mk-moi') {
                document.getElementById("alert-re-mk-moi").hidden = true;
            }
        }
        //check co khop k
        if (input.id == 're-mk-moi') {
            if ($(input).val() != $('#mk-moi').val())
                document.getElementById("alert-re-mk-khong-khop").hidden = false;
            else
                document.getElementById("alert-re-mk-khong-khop").hidden = true;
        }
    }

    function SaveChange() {

        if ('@ViewBag.IsKhachHangDaDangNhap' != 'True') {
            location.href = '@Url.Action("Index","DangNhap")';
            return;
        }
        const url = '../api/ThongTinCaNhanApi?';
        // The data we are going to send in our request
        let params = {
            oldPass:$('#mk-cu').val(),
            newPass:$('#mk-moi').val(),
            reNewPass: $('#re-mk-moi').val(),
        }
        let query = Object.keys(params)
                 .map(k => encodeURIComponent(k) + '=' + encodeURIComponent(params[k]))
                 .join('&');
        // The parameters we are gonna pass to the fetch function
        let fetchData = {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
        }

        fetch(url + query, fetchData)
        .then(function (res) {
            // Handle response you get from the server
            return res.json();
        }).then(function (data) {
            alert(data);
            location.href = "@Url.Action("Index", "ThongTinCaNhan")";
        });
    }
</script>

