﻿@model Models.Framework.NHANVIEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="main-form" id="main-form" style="color:black">
    <div>
        <h4>Thông tin nhân viên</h4>
        <hr />
        <dl class="dl-horizontal">

            <dd>
                <b>
                    Mã nhân viên:
                </b>
                @Model.MANHANVIEN
            </dd>
            <dd>
                <b>
                    Họ tên:
                </b>
                @Model.ACCOUNT.HOTEN
            </dd>
            <dd>
                <b>
                    Ngày sinh:
                </b>
                @Model.ACCOUNT.NGAYSINH.Value.ToString("dd/MM/yyyy")
            </dd>
            <dd>
                <b>
                    Giới tính:
                </b>
                @Model.ACCOUNT.GIOITINH
            </dd>
            <dd>
                <b>
                    Số điện thoại:
                </b>
                @Model.ACCOUNT.SDT
            </dd>
            <dd>
                <b>
                    Địa chỉ:
                </b>
                @Model.ACCOUNT.DIACHI
            </dd>

            <dd>
                <b>
                    Lương:
                </b>
                @Model.LUONG
            </dd>
            <dd>
                <b>
                    Đơn vị tính lương:
                </b>
                @Model.DONVITINHLUONG.TENDONVITINHLUONG
            </dd>
            <dd>
                <b>
                    Ngày ký hợp đồng:
                </b>
                @Model.NGAYKYHOPDONG.Value.ToString("dd/MM/yyyy")
            </dd>
            <dd>
                <b>
                    Số tiền lương chưa thanh toán:
                </b>
                @Model.TinhTongSoTienLuongChuaThanhToan() VNĐ
            </dd>
            <dd><a href="#" onclick="openForm()"><b>>Sửa thông tin</b></a></dd>

        </dl>
        <hr />
        <dl class="dl-horizontal">

            <dd>
                <b>
                    Tài khoản:
                </b>
                @Model.ACCOUNT.TAIKHOAN
            </dd>
            <dd>
                <b>
                    Mật khẩu:
                </b>
                ******
            </dd>
            <dd>
                <a href="#" onclick="openFormEditTK()"><b>>Sửa tài khoản</b></a>
            </dd>

        </dl>
    </div>
    <hr />
    <p>
        @Html.ActionLink("Quay về", "Index", new { id = 1 })
    </p>

</div>

<!--INSERT FORM-->
<div class="form-popup" id="edit-form" style="color:black;">
    <form class="form-container">
        <h1 style="text-align:center">Sửa thông tin nhân viên</h1>
        <label for="abc"><b>Họ tên*</b></label>
        <input id="ho-ten-edit" type="text" placeholder="Nhập họ tên" name="hoten" required value="@Model.ACCOUNT.HOTEN">
        <label for="abc"><b>Ngày sinh*</b></label>
        <input id="ngay-sinh-edit" type="date" placeholder="Nhập ngày sinh" name="" required value="">
        <label for="abc"><b>Giới tính*</b></label>
        <select class="chon-gioi-tinh" id="gioi-tinh-select">
            <option value="1">Nam</option>
            <option value="0">Nữ</option>
        </select>
        <div>
            <label for="abc"><b>SĐT</b></label>
            <input id="sdt-edit" type="number" placeholder="Nhập số điện thoại" name="" value="@Model.ACCOUNT.SDT">
        </div>

        <label for="abc"><b>Địa chỉ</b></label>
        <input id="dia-chi-edit" type="text" placeholder="Nhập địa chỉ" name="" value="@Model.ACCOUNT.DIACHI">
        <label for="abc"><b>Lương*</b></label>
        <input id="luong-edit" type="number" placeholder="Nhập lương" name="" required value="@Model.LUONG">

        <div>
            <label for="abc"><b>Đơn vị tính lương*</b></label>
            <select class="chon-don-vi-tinh-luong" id="don-vi-tinh-luong-select">
                @foreach (var item in @Models.Framework.DONVITINHLUONG.GetAll())
                {
                    <option value=@item.MADONVITINHLUONG>@item.TENDONVITINHLUONG</option>
                }
            </select>


        </div>
        <label for="abc"><b>Ngày ký hợp đồng*</b></label>
        <input id="ngay-ky-hop-dong-edit" type="date" placeholder="Nhập ngày ký hợp đồng" name="" required>


        <br />
        <h1> </h1>
        <h1> </h1>

        <button type="button" class="btn" onclick="suaNhanVien()" id="btn-them">Sửa</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Thoát</button>

    </form>
</div>

<!--SUA TAI KHOAN FORM-->
<div class="form-popup" id="edit-form-tk" style="width:30%;margin-left:5%;color:black;">
    <form class="form-container">
        <h1 style="text-align:center">Sửa tài khoản nhân viên</h1>
        <label for="abc"><b>Tài khoản*</b></label>
        <input id="tai-khoan-edit" type="text" placeholder="Nhập tài khoản" name="taikhoan" required>
        <label for="abc"><b>Mật khẩu*</b></label>
        <input id="mat-khau-edit" type="password" placeholder="Nhập mật khẩu" name="matkhau" required>
        <label for="abc"><b>Nhập lại mật khẩu*</b></label>
        <input id="re-mat-khau-edit" type="password" placeholder="Nhập lại mật khẩu" name="rematkhau" required>
        <h1> </h1>
        <h1> </h1>

        <button type="button" class="btn" onclick="suaTaiKhoanNhanVien()" id="btn-them">Sửa</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Thoát</button>

    </form>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
    function openForm() {
        document.getElementById("edit-form").style.display = "block";
        document.getElementById("edit-form-tk").style.display = "none";
        document.getElementById("main-form").className = "main-form-hide";
        document.getElementById("main-form").style.display = "none";
        var ngaySinh='@Model.ACCOUNT.NGAYSINH.Value.ToString("yyyy-MM-dd")';
        $('#ngay-sinh-edit').val(ngaySinh).change();
        var ngayKyHopDong = '@Model.NGAYKYHOPDONG.Value.ToString("yyyy-MM-dd")';
        $('#ngay-ky-hop-dong-edit').val(ngayKyHopDong).change();
        $('#don-vi-tinh-luong-select').val('@Model.MADONVITINHLUONG').change();
        if('@Model.ACCOUNT.GIOITINH.ToString()'=='Nam')
            $('#gioi-tinh-select').val(1).change();
        else
            $('#gioi-tinh-select').val(0).change();
    }
    function closeForm() {
        document.getElementById("edit-form").style.display = "none";
        document.getElementById("edit-form-tk").style.display = "none";
        document.getElementById("main-form").className = "main-form";
        document.getElementById("main-form").style.display = "block";
    }

    function openFormEditTK() {
        document.getElementById("main-form").style.display = "none";
        document.getElementById("edit-form").style.display = "none";
        document.getElementById("edit-form-tk").style.display = "block";
        document.getElementById("main-form").className = "main-form-hide";
        $('#tai-khoan-edit').val('@Model.ACCOUNT.TAIKHOAN').change();
    }

    function suaNhanVien() {
        const url = '../../api/NhanVienApi?';
        // The data we are going to send in our request
        let params = {
            maNhanVien:'@Model.MANHANVIEN',
            hoTen: $('#ho-ten-edit').val(),
            ngaySinh: $('#ngay-sinh-edit').val(),
            gioiTinh: $("select.chon-gioi-tinh").children("option:selected").val(),
            sdt: $('#sdt-edit').val(),
            diaChi: $('#dia-chi-edit').val(),
            luong: $('#luong-edit').val(),
            maDVL: $("select.chon-don-vi-tinh-luong").children("option:selected").val(),
            ngayKyHopDong: $('#ngay-ky-hop-dong-edit').val(),
        }

        let query = Object.keys(params)
                 .map(k => encodeURIComponent(k) + '=' + encodeURIComponent(params[k]))
                 .join('&');
        // The parameters we are gonna pass to the fetch function
        let fetchData = {
            method: 'PUT',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
        }

        fetch(url + query, fetchData)
        .then(function (res) {
            // Handle response you get from the server
            return res.json();
        }).then(function (data) {
            alert(data);
            location.reload();
        });
    }

    function suaTaiKhoanNhanVien() {
        if ($('#mat-khau-edit').val()=='') {
            alert("Không được bỏ trống mật khẩu!");
            return;
        }
        if ($('#mat-khau-edit').val() != $('#re-mat-khau-edit').val()) {
            alert("Mật khẩu nhập lại không trùng khớp!");
            return;
        }
        const url = '../../api/NhanVienApi?';
        // The data we are going to send in our request
        let params = {
            maNhanVien: '@Model.MANHANVIEN',
            taiKhoan: $('#tai-khoan-edit').val(),
            matKhau: $('#mat-khau-edit').val(),
        }

        let query = Object.keys(params)
                 .map(k => encodeURIComponent(k) + '=' + encodeURIComponent(params[k]))
                 .join('&');
        // The parameters we are gonna pass to the fetch function
        let fetchData = {
            method: 'PUT',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
        }

        fetch(url + query, fetchData)
        .then(function (res) {
            // Handle response you get from the server
            return res.json();
        }).then(function (data) {
            alert(data);
            location.reload();
        });
    }

</script>



<style>
    /* Button used to open the contact form - fixed at the bottom of the page */
    .main-form-hide {
        opacity: 0.2;
        position: fixed;
    }

    .main-form {
        opacity: 1;
    }

    .open-button {
        background-color: #555;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        right: 28px;
        width: 280px;
    }

    /* The popup form - hidden by default */
    .form-popup {
        display: none;
        position: absolute;
        top: calc(10% );
        left: calc(30%);
        border: 3px solid #f1f1f1;
        z-index: 999;
    }

    /* Add styles to the form container */
    .form-container {
        min-width: 40%;
        padding: 10px;
        background-color: white;
    }

        /* Full-width input fields */
        .form-container input[type=text], .form-container input[type=password], .form-container input[type=number] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            border: none;
            background: #f1f1f1;
        }

            /* When the inputs get focus, do something */
            .form-container input[type=text]:focus, .form-container input[type=password]:focus, .form-container input[type=number]:focus {
                background-color: #ddd;
                outline: none;
            }

        /* Set a style for the submit/login button */
        .form-container .btn {
            background-color: #4CAF50;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            margin-bottom: 10px;
            opacity: 0.8;
        }

        /* Add a red background color to the cancel button */
        .form-container .cancel {
            background-color: red;
        }

        /* Add some hover effects to buttons */
        .form-container .btn:hover, .open-button:hover {
            opacity: 1;
        }
</style>

