﻿@model List<Models.Framework.NHAPMATHANG>

@{
    ViewBag.Title = "Index2";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="main-form" id="main-form">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Quản lý Nhập hàng</h6>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div style="color:black">
                        <h6>Chọn ngày: </h6>
                        <input id="ngay-nhap" type="number" style="width:45px" value="@(Models.Framework.NHAPMATHANG.DayTmp)" min="1" max="31" />
                        <input id="thang-nhap" type="number" style="width:45px" value="@(Models.Framework.NHAPMATHANG.MonthTmp)" min="1" max="12" />
                        <input id="nam-nhap" type="number" style="width:90px" value="@(Models.Framework.NHAPMATHANG.YearTmp)" min="1900" max="2300" />

                        <select class="chon-loai-mat-hang" id="loai-mat-hang-select">
                            @foreach (var item in Models.Framework.LOAIMATHANG.GetAllLoaiMatHangNhap())
                            {
                                <option value='@item.MALOAIMATHANG' @(item.MALOAIMATHANG == Models.Framework.NHAPMATHANG.MaLMHTmp ? " selected" : "")>@item.TENLOAIMATHANG</option>
                            }
                        </select>
                        <button onclick="xemNhapHang()">Xem</button>
                    </div>
                    <h6>  </h6>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div id="dataTable_filter" class="dataTables_filter">
                                <br />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;color:black">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: auto;">Ngày nhập</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: auto;">Mặt hàng</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: auto;">Nhà cung cấp</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: auto;">Số lượng</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: auto;">Đơn vị</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: auto;">Hạn sử dụng</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: auto;">Đơn giá</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: auto;">Thành tiền</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr role="row" class="odd">
                                            <td class="sorting_1">@item.NGAYNHAP.Value.ToString("dd/MM/yyyy")</td>
                                            <td>@item.MATHANG.TENMATHANG</td>
                                            <td>@item.NHACUNGCAP.TENNHACUNGCAP</td>
                                            <td>@item.SOLUONG</td>
                                            <td>@item.MATHANG.DONVITINH.TENDONVITINH</td>
                                            <td>@(item.HANSUDUNG.HasValue ? item.HANSUDUNG.Value.ToString("dd/MM/yyyy") : "")</td>
                                            <td>@item.DONGIA</td>
                                            <td>@item.THANHTIEN</td>
                                            <td>
                                                <a onclick="openFormForEdit('@item.MAPHIEUNHAP','@item.MAMATHANG','@item.MANHACUNGCAP','@item.NGAYNHAP',@item.SOLUONG,@item.DONGIA,@item.THANHTIEN,'@item.HANSUDUNG')"
                                                   style="color:blue;float: left;" href="#">Sửa</a>
                                                <h6 style="float: left;">|</h6>
                                                <a onclick="xoaPhieuNhap('@item.MAPHIEUNHAP')" style="color:blue;float: left;" href="#"> Xóa</a>
                                            <td>
                                        </tr>
                                    }
                                </tbody>
                                <!--THEM-->
                                <tfoot>
                                    <tr>
                                        <th rowspan="1" colspan="1"> </th>
                                        <th rowspan="1" colspan="1"> </th>
                                        <th rowspan="1" colspan="1"> </th>
                                        <th rowspan="1" colspan="1"> </th>
                                        <th rowspan="1" colspan="1"> </th>
                                        <th rowspan="1" colspan="1"> </th>
                                        <th rowspan="1" colspan="1"> </th>
                                        <th rowspan="1" colspan="1"> </th>
                                        <th rowspan="1" colspan="1"><a style="color:blue;float: left;" href="#" onclick="openFormForInsert()">Thêm</a></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite"></div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                <ul class="pagination">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--------------------------------------------------------------------------------------------------------------->
<!--FORM CHINH SUA-->
<div class="form-popup" id="edit-form" style="color:black">
    <form class="form-container">
        <h1 style="text-align:center">Nhập hàng</h1>
        <input id="ma-phieu-nhap-edit" type="text" value="" hidden />
        <input id="ma-loai-mat-hang-edit" type="text" value="'@Models.Framework.NHAPMATHANG.MaLMHTmp'" hidden />


        <div style="margin-top:10px">
            <label for="abc"><b>Chọn mặt hàng</b></label>
            <select class="chon-mat-hang" id="mat-hang-select">
                @foreach (var item in @Models.Framework.MATHANG.GetAllByType(@Models.Framework.NHAPMATHANG.MaLMHTmp))
                {
                    <option value='@item.MAMATHANG'>@item.TENMATHANG</option>
                }
            </select>
        </div>


        <div style="margin-top:10px">
            <label for="abc"><b>Nhà cung cấp</b></label>
            <select class="chon-nha-cung-cap" id="nha-cung-cap-select">
                @foreach (var item in @Models.Framework.NHACUNGCAP.GetAllByType(@Models.Framework.NHAPMATHANG.MaLMHTmp))
                {
                    <option value='@item.MANHACUNGCAP'>@item.TENNHACUNGCAP</option>
                }
            </select>
        </div>
        <div style="margin-top:10px">
            <label for="abc"><b>Ngày nhập</b></label>
            <input id="ngay-nhap-edit" type="date" placeholder="Ngày nhập" value="" style="margin-left: 20px;">
        </div>

        <div style="margin-top:10px">
            <label for="abc"><b>Số lượng</b></label>
            <input id="so-luong-edit" type="number" placeholder="Số lượng" value="" style="margin-left: 25px;" min="0">
        </div>
        <div style="margin-top:10px">
            <label for="abc"><b>Đơn giá</b></label>
            <input id="don-gia-edit" type="number" placeholder="Đơn giá" value="" style="margin-left: 33px;" min="0">
        </div>
        <div style="margin-top:10px;">
            <label for="psw"><b>Thành tiền*</b></label>
            <input id="thanh-tien-edit" type="number" placeholder="Thành tiền" value="" style="margin-left: 5px;" min="0">
        </div>
        <div style="margin-top:10px;margin-bottom:10px;">
            <label for="abc"><b>Hạn sử dụng</b></label>
            <input id="han-su-dung-edit" type="date" placeholder="Hạn sử dụng" value="" style="margin-left: 5px;">
            <!--<input type="password" placeholder="Enter Password" name="psw" required>-->
        </div>
        <button type="button" class="btn" onclick="suaPhieuNhapHang()" id="btn-sua">Sửa</button>
        <button type="button" class="btn" onclick="themPhieuNhapHang()" id="btn-them">Thêm</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Thoát</button>

    </form>
</div>



<!--JS----------------------------------------------------------------------------->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
    function openFormForEdit(maPN, maMatHang, maNhaCungCap, ngayNhap, soLuong, donGia, thanhTien, hanSuDung) {
        $('#btn-sua').show();
        $('#btn-them').hide();
        document.getElementById("edit-form").style.display = "block";
        document.getElementById("main-form").className = "main-form-hide";
        document.getElementById("main-form").style.display = "none";
        //TACH NGAY NHAP
        var arr = ngayNhap.split(' ')[0].split('/');
        var newNgay = arr[2];
        if (arr[0].length == 1)
            newNgay += '-' + '0' + arr[0];
        else
            newNgay += '-' + arr[0];
        if (arr[1].length == 1)
            newNgay += '-' + '0' + arr[1];
        else
            newNgay += '-' + arr[1];
        ngayNhap = newNgay;
        //Tach HAN SU DUNG
        try {
            arr = hanSuDung.split(' ')[0].split('/');
            newNgay = arr[2];
            if (arr[0].length == 1)
                newNgay += '-' + '0' + arr[0];
            else
                newNgay += '-' + arr[0];
            if (arr[1].length == 1)
                newNgay += '-' + '0' + arr[1];
            else
                newNgay += '-' + arr[1];
            hanSuDung = newNgay;
        } catch (e) {

        };

        //


        //console.log(ngayNhap+' : '+hanSuDung);

        $('#ma-phieu-nhap-edit').val(maPN).change();

        $("#mat-hang-select").val(maMatHang).change();
        $("#nha-cung-cap-select").val(maNhaCungCap).change();
        $('#ngay-nhap-edit').val(ngayNhap).change();
        $('#so-luong-edit').val(soLuong).change();
        $('#don-gia-edit').val(donGia).change();
        $('#thanh-tien-edit').val(thanhTien).change();
        $('#han-su-dung-edit').val(hanSuDung).change();
    }
    function openFormForInsert() {
        document.getElementById("edit-form").style.display = "block";
        document.getElementById("main-form").className = "main-form-hide";
        document.getElementById("main-form").style.display = "none";
        $('#btn-sua').hide();
        $('#btn-them').show();
    }
    function closeForm() {
        document.getElementById("edit-form").style.display = "none";
        document.getElementById("main-form").className = "main-form";
        document.getElementById("main-form").style.display = "block";
    }

    function xemNhapHang() {
        var ngay = $("#ngay-nhap").val();
        var thang = $("#thang-nhap").val();
        var nam = $("#nam-nhap").val();
        var maLoaiMH = $("select.chon-loai-mat-hang").children("option:selected").val();
        location.href = '../NhapMatHang/Index2?ngayNhap=' + ngay + '&thangNhap=' + thang + '&namNhap=' + nam + '&maLoaiMatHang=' + maLoaiMH + '';
    }

    function themPhieuNhapHang() {
        const url = '../../api/NhapMatHangApi?';
        // The data we are going to send in our request
        let params = {
            MaMatHang: $("select.chon-mat-hang").children("option:selected").val(),
            MaNhaCungCap: $("select.chon-nha-cung-cap").children("option:selected").val(),
            NgayNhap: $('#ngay-nhap-edit').val(),
            SoLuong: $('#so-luong-edit').val(),
            DonGia: $('#don-gia-edit').val(),
            ThanhTien: $('#thanh-tien-edit').val(),
            HanSuDung: $('#han-su-dung-edit').val(),
        }

        let query = Object.keys(params)
            .map(k => encodeURIComponent(k) + '=' + encodeURIComponent(params[k]))
            .join('&');
        // The parameters we are gonna pass to the fetch function
        let fetchData = {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
        }

        fetch(url + query, fetchData)
            .then(function (res) {
                // Handle response you get from the server
                return res.json();
            }).then(function (data) {
                alert(data);
                location.reload();
            });
    }



    function suaPhieuNhapHang() {
        const url = '../../api/NhapMatHangApi?';
        // The data we are going to send in our request
        let params = {
            MaPhieuNhap: $('#ma-phieu-nhap-edit').val(),
            MaMatHang: $("select.chon-mat-hang").children("option:selected").val(),
            MaNhaCungCap: $("select.chon-nha-cung-cap").children("option:selected").val(),
            NgayNhap: $('#ngay-nhap-edit').val(),
            SoLuong: $('#so-luong-edit').val(),
            DonGia: $('#don-gia-edit').val(),
            ThanhTien: $('#thanh-tien-edit').val(),
            HanSuDung: $('#han-su-dung-edit').val(),
        }

        let query = Object.keys(params)
            .map(k => encodeURIComponent(k) + '=' + encodeURIComponent(params[k]))
            .join('&');
        // The parameters we are gonna pass to the fetch function
        let fetchData = {
            method: 'PUT',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
        }

        fetch(url + query, fetchData)
            .then(function (res) {
                // Handle response you get from the server
                return res.json();
            }).then(function (data) {
                alert(data);
                location.reload();
            });
    }

    function xoaPhieuNhap(maPN) {
        const url = '../../api/NhapMatHangApi?';
        // The data we are going to send in our request
        let params = {
            MaPhieuNhap: maPN,
        }

        let query = Object.keys(params)
            .map(k => encodeURIComponent(k) + '=' + encodeURIComponent(params[k]))
            .join('&');
        // The parameters we are gonna pass to the fetch function
        let fetchData = {
            method: 'DELETE',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
        }

        fetch(url + query, fetchData)
            .then(function (res) {
                // Handle response you get from the server
                return res.json();
            }).then(function (data) {
                alert(data);
                location.reload();
            });
    }



    $(document).ready(function () {
        setDayNow()
    });
    function setDayNow() {
        var now = new Date();
        var dayString = now.getUTCFullYear();
        if (now.getUTCMonth() + 1 < 10)
            dayString += '-' + '0' + (now.getUTCMonth() + 1);
        else
            dayString += '-' + (now.getUTCMonth() + 1);
        if (now.getUTCDate() < 10)
            dayString += '-' + '0' + now.getUTCDate();
        else
            dayString += '-' + now.getUTCDate();
        $('#ngay-nhap-edit').val(dayString).change();
        $('#han-su-dung-edit').val(dayString).change();
    }
</script>

<style>
    /* Button used to open the contact form - fixed at the bottom of the page */
    .main-form-hide {
        opacity: 0.5;
        position: fixed;
    }

    .main-form {
        opacity: 1;
    }

    .open-button {
        background-color: #555;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        right: 28px;
        width: 280px;
    }

    /* The popup form - hidden by default */
    .form-popup {
        display: none;
        position: absolute;
        top: calc(20% - 25px);
        left: calc(50% - 50px);
        border: 3px solid #f1f1f1;
        z-index: 999;
    }

    /* Add styles to the form container */
    .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: white;
    }

        /* Full-width input fields */
        .form-container input[type=text], .form-container input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            border: none;
            background: #f1f1f1;
        }

            /* When the inputs get focus, do something */
            .form-container input[type=text]:focus, .form-container input[type=password]:focus {
                background-color: #ddd;
                outline: none;
            }

        /* Set a style for the submit/login button */
        .form-container .btn {
            background-color: #4CAF50;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            margin-bottom: 10px;
            opacity: 0.8;
        }

        /* Add a red background color to the cancel button */
        .form-container .cancel {
            background-color: red;
        }

        /* Add some hover effects to buttons */
        .form-container .btn:hover, .open-button:hover {
            opacity: 1;
        }
</style>
