﻿@model IEnumerable<Models.Framework.KHACHHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="card shadow mb-4" id="main-form" style="color:black;">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Quản lý Khách hàng</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div id="dataTable_filter" class="dataTables_filter">
                            <label>Tìm kiếm:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable" id="tim-kiem-edit" value="@ViewBag.Query"></label>
                            <button onclick="TimKiem()">Xem</button>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;color:black;border-color:green">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: auto;">Mã khách hàng</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: auto;">Tài khoản</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: auto;">Họ tên</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: auto;">SĐT</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: auto;">Ngày sinh</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: auto;">Giới tính</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: auto;">Địa chỉ</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: auto;">Địa chỉ nhận hàng</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">@item.MAKHACHHANG</td>
                                        <td>@item.ACCOUNT.TAIKHOAN</td>
                                        <td>@item.ACCOUNT.HOTEN</td>
                                        <td>@item.ACCOUNT.SDT</td>
                                        <td>@item.ACCOUNT.NGAYSINH.Value.ToString("dd/MM/yyyy")</td>
                                        <td>@item.ACCOUNT.GIOITINH</td>
                                        <td>@item.ACCOUNT.DIACHI</td>
                                        <td>@item.DIACHINHANHANG</td>
                                        <td>
                                            <a onclick="openFormReset('@item.MAKHACHHANG','@item.ACCOUNT.TAIKHOAN')" style="color:blue;float: left;" href="#">Đặt lại mật khẩu</a>
                                            <h6 style="float: left;">|</h6>
                                            <a onclick="xoaKhachHang('@item.MAKHACHHANG')" style="color:blue;float: left;" href="#"> Xóa</a>
                                        <td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1"></th>
                                    <th rowspan="1" colspan="1"></th>
                                    <th rowspan="1" colspan="1"></th>
                                    <th rowspan="1" colspan="1"></th>
                                    <th rowspan="1" colspan="1"></th>
                                    <th rowspan="1" colspan="1"></th>
                                    <th rowspan="1" colspan="1"></th>
                                    <th rowspan="1" colspan="1"></th>
                                    <th rowspan="1" colspan="1"><a onclick="openForm()" style="color:blue;float: left;" href="#">Thêm</a></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite"></div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous " id="dataTable_previous"><a href="@Url.Action("Index","QuanLyKhachHang",new {id=1})" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Đầu</a></li>

                                @if (ViewBag.CurrentPage - 2 == 1)
                                {
                                    <li class="paginate_button page-item previous " id="dataTable_previous"><a href="@Url.Action("Index","QuanLyKhachHang",new {id=1})" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">1</a></li>

                                }
                                else if (ViewBag.CurrentPage - 2 > 1)
                                {
                                    <li><a style="color:black">...</a></li>
                                    <li class="paginate_button page-item previous " id="dataTable_previous"><a href="@Url.Action("Index","QuanLyKhachHang",new {id=ViewBag.CurrentPage - 2})" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">@(ViewBag.CurrentPage - 2)</a></li>

                                }
                                @if (ViewBag.CurrentPage - 1 >= 1)
                                {
                                    <li class="paginate_button page-item previous " id="dataTable_previous">
                                        <a href="@Url.Action("Index","QuanLyKhachHang",new {id=ViewBag.CurrentPage - 1})" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">
                                            @(ViewBag.CurrentPage - 1)
                                        </a>
                                    </li>

                                }
                                <li class="paginate_button page-item previous active" id="dataTable_previous">
                                    <a href="@Url.Action("Index","QuanLyKhachHang",new {id=ViewBag.CurrentPage})" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">
                                        @(ViewBag.CurrentPage)
                                    </a>
                                </li>

                                @if (ViewBag.CurrentPage + 1 <= ViewBag.SoLuongPage)
                                {
                                    <li class="paginate_button page-item previous " id="dataTable_previous">
                                        <a href="@Url.Action("Index","QuanLyKhachHang",new {id=ViewBag.CurrentPage + 1})" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">
                                            @(ViewBag.CurrentPage + 1)
                                        </a>
                                    </li>
                                }
                                @if (ViewBag.CurrentPage + 2 == ViewBag.SoLuongPage)
                                {
                                    <li class="paginate_button page-item previous " id="dataTable_previous">
                                        <a href="@Url.Action("Index","QuanLyKhachHang",new {id=ViewBag.SoLuongPage})" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">
                                            @ViewBag.SoLuongPage
                                        </a>
                                    </li>
                                }
                                else if (ViewBag.CurrentPage + 2 < ViewBag.SoLuongPage)
                                {
                                    <li class="paginate_button page-item previous " id="dataTable_previous">
                                        <a href="@Url.Action("Index","QuanLyKhachHang",new {id=ViewBag.CurrentPage + 2})" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">
                                            @(ViewBag.CurrentPage + 2)
                                        </a>
                                    </li>
                                    <li><a style="color:black">...</a></li>

                                }
                                <li class="paginate_button page-item previous " id="dataTable_previous">
                                    <a href="@Url.Action("Index","QuanLyKhachHang",new {id=(ViewBag.SoLuongPage)})" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">
                                        Cuối(@(ViewBag.SoLuongPage))
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--INSERT FORM-->
<div class="form-popup" id="edit-form" style="color:black">
    <form class="form-container">
        <h1 style="text-align:center">Thêm khách hàng</h1>
        <label for="abc"><b>Tài khoản*</b></label>
        <input id="tai-khoan-edit" type="text" placeholder="Nhập tài khoản" name="taikhoan" required>
        <label for="abc"><b>Mật khẩu*</b></label>
        <input id="mat-khau-edit" type="password" placeholder="Nhập mật khẩu" name="matkhau" required>
        <label for="abc"><b>Nhập lại mật khẩu*</b></label>
        <input id="re-mat-khau-edit" type="password" placeholder="Nhập lại mật khẩu" name="rematkhau" required>
        <label for="abc"><b>Họ tên*</b></label>
        <input id="ho-ten-edit" type="text" placeholder="Nhập họ tên" name="hoten" required>

        <div>
            <label for="abc"><b>Ngày sinh*</b></label>
            <input id="ngay-sinh-edit" type="date" placeholder="Nhập ngày sinh" name="" required style="width:41%">
            <label for="abc"><b>Giới tính*</b></label>
            <select class="chon-gioi-tinh" id="gioi-tinh-select">
                <option value="1">Nam</option>
                <option value="0">Nữ</option>
            </select>
        </div>



        <div>
            <label for="abc"><b>SĐT</b></label>
            <input id="sdt-edit" type="number" placeholder="Nhập số điện thoại" name="">
        </div>
        <div>

            <label for="abc"><b>Địa chỉ</b></label>
            <input id="dia-chi-edit" type="text" placeholder="Nhập địa chỉ" name="">
        </div>

        <h1> </h1>
        <h1> </h1>

        <button type="button" class="btn" onclick="themKhachHang()" id="btn-them">Thêm</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Thoát</button>

    </form>
</div>

<!--SUA TAI KHOAN FORM-->
<div class="form-popup" id="edit-form-tk" style="color:black">
    <form class="form-container">
        <h1 style="text-align:center">Sửa tài khoản khách hàng</h1>
        <input id="ma-khach-hang-edit2" type="text" required hidden>
        <label for="abc"><b>Tài khoản*</b></label>
        <input id="tai-khoan-edit2" type="text" placeholder="Nhập tài khoản" name="taikhoan" required>
        <label for="abc"><b>Mật khẩu*</b></label>
        <input id="mat-khau-edit2" type="password" placeholder="Nhập mật khẩu" name="matkhau" required>
        <h1> </h1>
        <h1> </h1>

        <button type="button" class="btn" onclick="suaTaiKhoanKhachHang()" id="btn-them">Sửa</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Thoát</button>

    </form>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
    function openForm() {
        document.getElementById("edit-form").style.display = "block";
        document.getElementById("main-form").className = "main-form-hide";
        document.getElementById("main-form").style.display="none";
    }

    function openFormReset(maKH, taiKhoan) {
        $('#ma-khach-hang-edit2').val(maKH).change();
        $('#tai-khoan-edit2').val(taiKhoan).change();
        $('#mat-khau-edit2').val('').change();
        document.getElementById("edit-form-tk").style.display = "block";
        document.getElementById("main-form").className = "main-form-hide";
        document.getElementById("main-form").style.display = "none";
    }

    function closeForm() {
        document.getElementById("edit-form").style.display = "none";
        document.getElementById("edit-form-tk").style.display = "none";
        document.getElementById("main-form").className = "main-form";
        document.getElementById("main-form").style.display = "block";
    }

    function themKhachHang() {
        if ($('#mat-khau-edit').val() != $('#re-mat-khau-edit').val()) {
            alert("Mật khẩu nhập lại không chính xác!");
            return;
        }
        const url = '../../../api/KhachHangApi?';
        // The data we are going to send in our request
        let params = {
            //maNCC: $('#ma-ncc-edit').val(),
            taiKhoan: $('#tai-khoan-edit').val(),
            matKhau: $('#mat-khau-edit').val(),
            hoTen: $('#ho-ten-edit').val(),
            ngaySinh: $('#ngay-sinh-edit').val(),
            gioiTinh: $("select.chon-gioi-tinh").children("option:selected").val(),
            sdt:$('#sdt-edit').val(),
            diaChi: $('#dia-chi-edit').val(),
        }

        let query = Object.keys(params)
                 .map(k => encodeURIComponent(k) + '=' + encodeURIComponent(params[k]))
                 .join('&');
        // The parameters we are gonna pass to the fetch function
        let fetchData = {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
        }

        fetch(url + query, fetchData)
        .then(function (res) {
            // Handle response you get from the server
            return res.json();
        }).then(function (data) {
            alert(data);
            location.reload();
        });
    }

    function xoaKhachHang(maKH) {
        var result = confirm("Bạn có chắc chắn muốn xóa khách hàng này?");
        if (result == false)
            return;
        else {
            const url = '../../../api/KhachHangApi?';
            // The data we are going to send in our request
            let params = {
                //maNCC: $('#ma-ncc-edit').val(),
                maKhachHang: maKH,
            }

            let query = Object.keys(params)
                     .map(k => encodeURIComponent(k) + '=' + encodeURIComponent(params[k]))
                     .join('&');
            // The parameters we are gonna pass to the fetch function
            let fetchData = {
                method: 'DELETE',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
            }

            fetch(url + query, fetchData)
            .then(function (res) {
                // Handle response you get from the server
                return res.json();
            }).then(function (data) {
                alert(data);
                location.reload();
            });
        }
    }

    function suaTaiKhoanKhachHang() {
        const url = '../../../api/KhachHangApi?';
        // The data we are going to send in our request
        let params = {
            //maNCC: $('#ma-ncc-edit').val(),
            maKhachHang: $('#ma-khach-hang-edit2').val(),
            taiKhoan: $('#tai-khoan-edit2').val(),
            matKhau: $('#mat-khau-edit2').val(),
        }

        let query = Object.keys(params)
                    .map(k => encodeURIComponent(k) + '=' + encodeURIComponent(params[k]))
                    .join('&');
        // The parameters we are gonna pass to the fetch function
        let fetchData = {
            method: 'PUT',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
        }

        fetch(url + query, fetchData)
        .then(function (res) {
            // Handle response you get from the server
            return res.json();
        }).then(function (data) {
            alert(data);
            location.reload();
        });
    }


    $(document).ready(function () {
        $("#ngay-sinh-edit").val('1980-01-01').change();
    });
</script>

<!--TimKiem-->
<script>
    function TimKiem() {
        var value = $('#tim-kiem-edit').val();
        location.href = "./1?q="+value;
    }
</script>


<style>
    /* Button used to open the contact form - fixed at the bottom of the page */
    .main-form-hide {
        opacity: 0.2;
        position: fixed;
    }

    .main-form {
        opacity: 1;
    }

    .open-button {
        background-color: #555;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        right: 28px;
        width: 280px;
    }

    /* The popup form - hidden by default */
    .form-popup {
        display: none;
        position: absolute;
        top: calc(10%);
        left: calc(43% - 50px);
        border: 3px solid #f1f1f1;
        z-index: 999;
    }

    /* Add styles to the form container */
    .form-container {
        max-width: 400px;
        padding: 10px;
        background-color: white;
    }

        /* Full-width input fields */
        .form-container input[type=text], .form-container input[type=password], .form-container input[type=number] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            border: none;
            background: #f1f1f1;
        }

            /* When the inputs get focus, do something */
            .form-container input[type=text]:focus, .form-container input[type=password]:focus, .form-container input[type=number]:focus {
                background-color: #ddd;
                outline: none;
            }

        /* Set a style for the submit/login button */
        .form-container .btn {
            background-color: #4CAF50;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            margin-bottom: 10px;
            opacity: 0.8;
        }

        /* Add a red background color to the cancel button */
        .form-container .cancel {
            background-color: red;
        }

        /* Add some hover effects to buttons */
        .form-container .btn:hover, .open-button:hover {
            opacity: 1;
        }
</style>

