﻿
@{
    Layout = null;
}
@model QuanLyQuanAn2.Areas.Admin.Models.ThongTinLoginModel
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin-Đăng nhập</title>

    <!-- Custom fonts for this template-->
    <link href="~/Assets/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Assets/admin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body style="background-color: mediumseagreen;">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block" style="background-image: url(/Assets/khachhang/image/thit-kho-trung-cut.jpg); background-size:cover"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Đăng nhập vào quản lý</h1>
                                    </div>


                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control form-control-user", @id = "exampleInputEmail", @placeholder = "Tên đăng nhập..." })
                                            <!-- <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..."> -->
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.Password, new { @type = "password", @class = "form-control form-control-user", @id = "exampleInputPassword", @placeholder = "Mật khẩu" })
                                            <!-- <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password"> -->
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                @Html.CheckBoxFor(model => model.RememberMe, new { @type = "checkbox", @class = "custom-control-input", @id = "customCheck" })
                                                <!--<input type="checkbox" class="custom-control-input" id="customCheck">-->
                                                <label class="custom-control-label" for="customCheck">Ghi nhớ</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block" style="background-color:forestgreen">Đăng nhập</button>
                                        <!--<a href="index.html" class="btn btn-primary btn-user btn-block">Login</a>-->
                                        <hr>
                                        <!--
                                        <a href="index.html" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Login with Google
                                        </a>
                                        <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                        </a>
                                        -->
                                    }


                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Assets/admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Assets/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Assets/admin/js/sb-admin-2.min.js"></script>

</body>

</html>

