﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Trang chủ quản lý</h1>
    <button id="btn-print" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i>In báo cáo</button>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Số sản phẩm đã bán hôm nay</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.SoSPDaBanHomNay sản phẩm</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Lợi nhuận hôm nay</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@(ViewBag.TongThuHomNay- ViewBag.TongChiHomNay) VNĐ</div>
                        <div>
                            <a>Thu: @ViewBag.TongThuHomNay </a><a> Chi: @ViewBag.TongChiHomNay</a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Số đơn đặt hàng chưa xác nhận</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">Còn @ViewBag.SoDonChuaXacNhan đơn</div>
                                <div>
                                    <a href="#">Xem ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<!-- Content Row -->

<div class="row">
    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Báo cáo thu trong ngày</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-2 pb-2">
                    <canvas id="baoCaoTheoLoaiBan"></canvas>
                </div>
                <div class="mt-3 text-center small">
                    <span class="mr-2">
                        <i class="fas fa-circle text-primary"></i> Bán hàng tại quán
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle text-success"></i> Bán hàng qua web
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle text-info"></i> Khác
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!--Pie chart2-->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Báo cáo thu (theo buổi)</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-2 pb-1">
                    <canvas id="baoCaoTheoBuoi"></canvas>
                </div>
                <div class="mt-3 text-center small">
                    <span class="mr-2">
                        <i class="fas fa-circle text-primary"></i> Buổi trưa
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle text-success"></i> Buổi tối
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle text-info"></i> Khác
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!--Pie chart3-->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Báo cáo chi</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-2 pb-1">
                    <canvas id="baoCaoChi"></canvas>
                </div>
                <div class="mt-3 text-center small">
                    <span class="mr-2">
                        <i class="fas fa-circle" style="color:red"></i> Nhập nguyên liệu
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle" style="color:blueviolet"></i> Nhập dụng cụ
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle " style="color:blue"></i> Nhập nước giải khát
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle" style="color:lightseagreen"></i> Trả lương nhân viên
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle" style="color:deepskyblue"></i> Khác
                    </span>
                </div>
            </div>
        </div>
    </div>


</div>

<script src="~/Assets/admin/js/Chart.min.js"></script>
<script src="~/Assets/admin/js/utils.js"></script>
<script>
    // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#858796';

    // Pie Chart Example
    var ctx = document.getElementById("baoCaoTheoLoaiBan");
    var baoCaoTheoLoaiBan = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ["Bán hàng tại quán", "Bán hàng qua web", "Khác"],
            datasets: [{
                data: [@ViewBag.SoTienThuTaiQuan, @ViewBag.SoTienThuOnline, @ViewBag.SoTienThuKhac],
                backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc'],
                hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
                hoverBorderColor: "rgba(234, 236, 244, 1)",
            }],
        },
        options: {
            maintainAspectRatio: false,
            tooltips: {
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
            },
            legend: {
                display: false
            },
            cutoutPercentage: 80,
        },
    });



    var ctx2 = document.getElementById("baoCaoTheoBuoi");
    var baoCaoTheoBuoi = new Chart(ctx2, {
        type: 'doughnut',
        data: {
            labels: ["Buổi trưa", "Buổi tối", "Khác"],
            datasets: [{
                data: [@ViewBag.TongThuBuoiTrua, @ViewBag.TongThuBuoiToi, @ViewBag.SoTienThuKhac],
                backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc'],
                hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
                hoverBorderColor: "rgba(234, 236, 244, 1)",
            }],
        },
        options: {
            maintainAspectRatio: false,
            tooltips: {
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
            },
            legend: {
                display: false
            },
            cutoutPercentage: 80,
        },
    });

    //Bao cao chi
    var ctx2 = document.getElementById("baoCaoChi");
    var baoCaoTheoBuoi = new Chart(ctx2, {
        type: 'doughnut',
        data: {
            labels: ["Nhập nguyên liệu", "Nhập dụng cụ", "Nhập nước giải khát", "Trả lương nhân viên","Khác"],
            datasets: [{
                data: [@ViewBag.ChiNhapNguyenLieu, @ViewBag.ChiNhapDungCu, @ViewBag.ChiNhapNuocGiaiKhat,@ViewBag.ChiTraLuongNhanVien,@ViewBag.ChiKhac],
                backgroundColor: ['#ff2200', '#b500d1', '#4e73df', '#1cc88a', '#36b9cc'],
                hoverBackgroundColor: ['#f92200', '#ad00d1', '#2e59d9', '#17a673', '#2c9faf'],
                hoverBorderColor: "rgba(234, 236, 244, 1)",
            }],
        },
        options: {
            maintainAspectRatio: false,
            tooltips: {
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
            },
            legend: {
                display: false
            },
            cutoutPercentage: 80,
        },
    });

</script>

<!--Script in bao cao-->
<script>
    document.getElementById("btn-print").addEventListener("click", function () {
        var accordionSidebar = document.getElementById("accordionSidebar");
        var printButton = document.getElementById("btn-print");
        var selectThangInput = document.getElementById("select-thang");
        printButton.style.visibility = 'hidden';
        accordionSidebar.style.visibility = 'hidden';
        //selectThangInput.style.visibility = 'hidden';
        window.print();
        printButton.style.visibility = 'visible';
        accordionSidebar.style.visibility = 'visible';
        //selectThangInput.style.visibility = 'visible';
    });
</script>